body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
.button {
  width: 9em;
  height: 1.70em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center; 
  background:orangered;
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 12px;
  text-decoration: none; 
}

